*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url("Papertouch-i-beige-p.jpeg");
    background-size: 100% 100%;

}

#headerbox{
    height: 10vh;
    widht: 100vw;
    display: flex;
    flex-wrap: nowrap;

}

.headerboxleft{

    background-color: white;
    height:15vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;


}
#logo {
    height: 15vh;
    widht: 50vw;
}

h1{
    font-size: 8vh;
    font-family: "Bookman Old Style";
    margin-left: 1vw;
}

#headerboxtextbox{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.headerboxright{
    background-color: white;
    height: 15vh;
    widht: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    text-align: justify;
    padding-left: 40%;



}
.dropdown{
  height: 5vh;
    width: 5vw;
    display: inline-block;
    justify-content: space-around;
    padding-right: 1vw;


}

#firsttextbutton{
    font-family: "Bookman Old Style";
    font-weight: bolder;
    font-size: 140%;
    white-space: nowrap;
    text-align: center;
    transform: translateX(-15vw);

}
#sectextbutton{
    font-family: "Bookman Old Style";
    font-weight: bolder;
    font-size: 140%;
    white-space: nowrap;
    text-align: center;
    transform: translateX(-12vw);



}
#thirdtextbutton{
    font-family: "Bookman Old Style";
    font-weight: bolder;
    font-size: 140%;
    white-space: nowrap;
    text-align: center;


}

.divruler{
    height: 0.5vh;
    width: 80%;
    background-color: black;
    margin-left:5vw;
    margin-top:8vh;
}



