<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
    <link rel="stylesheet" href="stylefrontpage.css">

</head>
<header>
        <div class="headerboxleft">
            <a>
                <img src="giphyTo.gif" id="logo">
            </a>
            <div id="headerboxtextbox">
                <h1>MAKE A WISH</h1>
            </div>
        </div>

    <nav>
            <button id="firsttextbutton" class="navbuttons"><a href="/Onskepage">Wish selec</a></button>
            <button id="sectextbutton" class="navbuttons"><a href="/wishlist">wishlist</a></button>
            <button id="thirdtextbutton" class="navbuttons"> <a href="/Frontpage">Login</a></button>
    </nav>
</header>

<body>

<div id="container">
    <div id="firstbox">
    <a> <img src="happypeopleyas.jpg" id="picOne"></a>
        <div id="textbox">
        <p>MAKE A WISH AND GET ALL OF YOUR DREAMS COME TRUE</p>
        </div>
    </div>

<div id="contentTop">

    <div class="logInButton">
        <form action="/login" method="POST">
            <label id for="email-login">Email: </label>
            <input type="text" id="email-login" name="email"/>
            <br>
            <label for="pwd-login">Password: </label>
            <input type="password" id="pwd-login" name="pwd" />
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
</div>
    <div class="contentBottom">
    <div class="signOpButton">
        <a href="/SignUpPage"><button style="border: none;">Sign up</button></a>
    </div>
    </div>
</div>

</body>
</html>