<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
    <link rel="stylesheet" href="stylefrontpage.css">

</head>
<header>
        <div class="headerboxleft">
            <a>
                <img src="giphyTo.gif" id="logo">
            </a>
            <div id="headerboxtextbox">
                <h1>MAKE A WISH</h1>
            </div>
        </div>

    <nav>
            <button id="firsttextbutton" class="navbuttons"><a href="/Onskepage">Wish selec</a></button>
            <button id="sectextbutton" class="navbuttons"><a href="/SignUpPage">Signup</a></button>
            <button id="thirdtextbutton" class="navbuttons"> <a href="/Frontpage">know more</a></button>
    </nav>
</header>

<body>

<div class="contentTop">
    <div class="logInButton">
        <form action="/login" method="POST">
            <label for="email-login">Email: </label>
            <input type="text" id="email-login" name="email"/>
            <br>
            <label for="pwd-login">Password: </label>
            <input type="password" id="pwd-login" name="pwd" />
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<div class="contentBottom">
    <div class="signOpButton">
        <a href="/SignUpPage"><button style="border: none;">Sign op</button></a>
    </div>
</div>

</body>
</html>