<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
    <link rel="stylesheet" href="Onskepage.css">

</head>
<header>
    <div class="headerboxleft">
        <a>
            <img src="giphyTo.gif" id="logo">
        </a>
        <div id="headerboxtextbox">
            <h1>MAKE A WISH</h1>
        </div>
    </div>

    <nav>
        <button id="firsttextbutton" class="navbuttons"><a href="Onskepage">Wish selec</a></button>
        <button id="sectextbutton" class="navbuttons"><a href="SignUpPage">Signup</a></button>
        <button id="thirdtextbutton" class="navbuttons"> <a href="Frontpage">Login</a></button>
    </nav>
</header>
<body>

<div id="containerOne" class="containers">
    <div id="one" class="boxes">
       <a>
           <img src="make-a-wish.jpg" class="wishpics">
       </a>
        <div class="wishtekstbox">
            <p>1 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div id="two" class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>2 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div id="three" class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>3 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>4 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>

</div>
<div id="containertwo" class="containers">
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>5 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>6 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>7 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>8 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
</div>
<div id="containerthree" class="containers">
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>9 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>10 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>11 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>12 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
</div>
<div id="containerfour" class="containers">
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>13 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>14 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>15 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>16 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
</div>
<div id="containerfive" class="containers">
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>17 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>18 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>19 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>20 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
</div>
<div id="containersix" class="containers">
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>21 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>22 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>23 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
    <div class="boxes">
        <a>
            <img src="make-a-wish.jpg" class="wishpics">
        </a>
        <div class="wishtekstbox">
            <p>24 wish</p>
        </div>
        <div class="buttonboxes">
            <button class="buttonswishlist">add to wishlist</button>
            <button class="buttonswishlist">remove from wishlist</button>

        </div>
    </div>
</div>

</body>
</html>