<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylefrontpage.css">

</head>
<body>

<div id="headerbox">
    <div class="headerboxleft">
        <a>
            <img src="giphyTo.gif" id="logo">
        </a>
        <div id="headerboxtextbox">
            <h1>MAKE A WISH</h1>
        </div>
    </div>
    <div class="headerboxright">
        <div class="dropdown"><a th:href="@{'Onskepage'}">
            <button id="firsttextbutton">Wish selec</button>
        </a>
        </div>

        <div class="dropdown">
            <button id="sectextbutton" class="tekstbuttons">Create user</button>
        </div>
        <div class="dropdown">
            <button id="thirdtextbutton" class="tekstbuttons">Know more</button>
        </div>
    </div>

</div>



</body>
</html>