<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style-wish-list-page.css">
</head>
<body>
    <!--<table>
        <tr>
            <td>
                <tr th:each="product: ${wishList1}">
                    <td th:text="${product.getName}" />
                    <td th:text="${product.getPrice}" />
                    <td th:text="${product.getIsReserved}" />
                </tr>
                <button type="button">Reserve</button>
            </td>
            <td>
                <tr th:each="product: ${wishList2}">
                    <td th:text="${product.getName}" />
                    <td th:text="${product.getPrice}" />
                    <td th:text="${product.getIsReserved}" />
                </tr>
                <button type="button">Reserve</button>
            </td>
        </tr>
        <tr>
            <td>
                <tr th:each="product: ${wishList3}">
                    <td th:text="${product.getName}" />
                    <td th:text="${product.getPrice}" />
                    <td th:text="${product.getIsReserved}" />
                </tr>
                <button type="button">Reserve</button>
            </td>
            <td>
                <tr th:each="product: ${wishList4}">
                    <td th:text="${product.getName}" />
                    <td th:text="${product.getPrice}" />
                    <td th:text="${product.getIsReserved}" />
                </tr>
                <button type="button">Reserve</button>
            </td>
        </tr>
    </table>-->
</body>
</html>